* {
	
		
}

.container {
	height: 100%;
	display: block;
	background-color: #F3F5FC;
}

.input-site {
	
	margin: 140px 10% 20px 10%;
	display: inline-block;
	width: 50%;
	height: 100%;
		
}

.output-site {
	
	margin: 0px 1% 20px 1%;
	align-content: center;	
	display: inline-block;
	width: 20%;
	min-width: 13em;
	height: 100%;
}
#main-logo {
	
  	position: absolute;
	width: 120px;
	height: 48px;
	left: 40px;
	top: 40px;
}

.title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 26px;
    font-weight: bold;
}

.message {
	
	align-content: center;
	text-align: center;
	display: block;
	

	
}

#message {	
	
	margin: 6%;	
	resize: none;
    width: 80%;
	height: 450px;
    border: none;
	outline: none;
	background-color: #F3F5FC;
	border-style: none;
    color: #0A3871;
	font-family: 'Inter';
	font-style: normal;
	font-size: 32px;
	text-align: justify;
	
	
}



/*display: unline-block al section der*/
/*edit placeholder*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #0A3871;
	font-family: 'Inter';
	font-style: normal;
	font-size: 32px;
	text-align: center;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #0A3871;
	font-family: 'Inter';
	font-style: normal;
	font-size: 32px;
	text-align: center;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  	color: #0A3871;
	font-family: 'Inter';
	font-style: normal;
	font-size: 32px;
	text-align: center;
}

.form-group.buttons {

	width: 100%;
	display: inline-block;
	padding-top: 2em;
	text-align: center;
}

button  {
	
	width: 150px;
	height: 50px;
    /* text button*/
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
	
}

.btnEncrypt, .btnCopy{
	
	/* Dark blue/dark-blue-300 */
	background: #0A3871;
	border-radius: 24px;

	/* White */
	color: #FFFFFF;
}

.btnDecrypt, .btnOutIn{
	
	/* Light gray */

	background: #D8DFE8;
	/* Dark blue/dark-blue-300 */

	border: 1px solid #0A3871;
	border-radius: 24px;
		
	/* text color */
	color: #0A3871;
}


.btnOutIn {
	
	width: 4em;

}

	/* image out-in */
#img-outin {
	
	width: 20px;
	height: 20px;
}

.form-group.result {
    margin-top: 50px;
    text-align: left;
}



.frame-result {
	
	
	background-color: #FFFFFF;
	border-radius: 24px;
	width: 100%;
	padding: 10px;
}

#result {
	 
	
	background-color: #FFFFFF;
	width: 90%;
	align-content: center;
	padding: 10px;
	margin: 0 10px 0 10px;
	height: 450px;
	border: none;
	outline: none;
	font-size: 18px;
	word-wrap: break-word;
	
}

.hidden-background {
  	background-image: url("../images/img-output/Muñeco.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 336px 304px;
}

.noText {
  display: block;
  flex-direction: column;
  gap: 16px;
}

.textNotFound {
	
	text-align: center;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 24px;
	color: #343a40;
	line-height: 28.8px;
	
}
.textEnterText {
	
	text-align: center;
	font-weight: 400;
	line-height: 20px;
	font-size: 16px;
	color: #495057;
	margin-bottom: 20px;
}

/*Social links*/
.social-links {
	
	flex-shrink: 0;
	height: 40px;
    display: flex;
    justify-content: center;
	background-color: #576EF5;
	padding: 5px;
	position: static;
	bottom: 0;
	width: 100%;
	
}
    
.social-links a {
	display: block;
    margin: 0 0.5em;
}

.social-links img {
    width: 2em;
    height: 2em;
    filter: grayscale(100%);
    transition: transform 0.2s ease-in-out;
}

.social-links a:hover img {
    filter: grayscale(0);
    transform: scale(1.2);
}

@media screen and (max-width: 768px) {
	
	.container {
		
		width: 100%;
		height: 100%;
	}
	
	.input-site {
		padding: 1em;
    	margin: 100px 1em 10px 1em;
		display: block;
		width: 90%;
		height: 100%;
		
	}
	.output-site {
		
		padding: 1em;
    	margin: 0px 1em 1em 1em;
    	display: block;
		width: 90%;
		height: 100%;
	}
	
	.hidden-background {
    display: none;
	}
	
	.noText {
		margin-top: 2em;
	}
}
